head
  title EnforceRocks Timeline
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(href='https://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans:400,700', rel='stylesheet', type='text/css')
  link(rel='stylesheet', href='css/reset.css')
  link(rel='stylesheet', href='css/style.css')
  link(rel='stylesheet', href='css/demo.css')