doctype html
html
  include ./includes/head.pug
  body
    header
      h1 EnforceRocks Timeline
    section(class='cd-timeline js-cd-timeline')
      div(class='cd-timeline__container')
        include ./includes/timelineBlock.pug

        +block(
          'img/cd-icon-movie.svg',
          'Hello again!',
          'Robert joins our team as backend developer! Hello and lets make great things!',
          '16.08.2019'
        )

        +block(
          'img/cd-icon-movie.svg',
          'Hello!',
          'Another Przemek joins our team on front-end position! Welcome!',
          '15.07.2019'
        )

        +block(
          'img/cd-icon-movie.svg',
          'Confluence',
          'We have started writing our wiki using Confluence from Atlassian. Are we growing?! :)',
          '28.06.2019'
        )

        +block(
          'img/cd-icon-movie.svg',
          'Jira',
          'We have just started using JIRA as our project management tool!',
          '22.06.2019'
        )

        +block(
          'img/cd-icon-movie.svg',
          'Full-time Refactoring',
          'We have created `Lidzia` branch and we are reinventing everything. This will be a very big change for EnforceRocks :)',
          '29.05.2019'
        )

        +block(
          'img/cd-icon-movie.svg',
          'Status, major Tom!',
          'We have 1720 matches added to our database and still growing!',
          '23.03.2019'
        )

        +block(
          'img/cd-icon-movie.svg',
          'The bird grows',
          'Twitter followers count jumps from 97 to 151! This is +54 in one day!',
          '22.03.2019'
        )

        +block(
          'img/cd-icon-movie.svg',
          'Fellowship of the ring',
          'Divided now joined; Our team of content guys joins the devs on Slack and we are one big (8 people) happy family right now.',
          '21.03.2019'
        )

        +block(
          'img/cd-icon-movie.svg',
          'Boom!',
          'We have our first record in Google SEO views in one day: 233',
          '20.03.2019'
        )

        +block(
          'img/cd-icon-movie.svg',
          'Shorter!',
          'Our link shortener is created at 11r.site and allows to post shorter links on Twitter and Facebook',
          '16.03.2019'
        )

        +block(
          'img/cd-icon-movie.svg',
          'English! Do you speak it?',
          'We have translated our page to two languages: Polish and English. The last one becomes the main one at elevenrate.com',
          '15.03.2019'
        )

        +block(
          'img/cd-icon-movie.svg',
          'Big guys likes what we do',
          'Polish football team players (Jaroszyński, Salamon) and coaches (Michniewicz) likes our posts on Twitter',
          '01.03.2019'
        )

        +block(
          'img/cd-icon-movie.svg',
          'Premium users without a premium yet',
          'Daniel Górka writes on Twitter that he would buy our premium blindly if we have one anytime soon :)',
          '27.02.2019'
        )

        +block(
          'img/cd-icon-movie.svg',
          'Stable, so stable...',
          'Statistics for February - we have 278 Unique Users - we have stability!',
          '27.02.2019'
        )

        +block(
          'img/cd-icon-movie.svg',
          'Power!',
          'Power Rankings created and started for the first time on Elevenrate!',
          '16.02.2019'
        )

        +block(
          'img/cd-icon-movie.svg',
          'Documentation added',
          'First documentation of the project is created. Now everybody knows how to use our environment!',
          '16.02.2019'
        )

        +block(
          'img/cd-icon-movie.svg',
          'GraphQL on Board too!',
          'We have started using some cutting-edge technology called GraphQL. It allowed us to type data more precisely and mockup some stuff :)',
          '10.02.2019'
        )

        +block(
          'img/cd-icon-movie.svg',
          'We need a map. A sitemap!',
          'We have created our first sitemap by hand. First Google trafic shows in our Analytics',
          '08.02.2019'
        )

        +block(
          'img/cd-icon-movie.svg',
          'More statistics!',
          'In January we finish with 279 Unique Users',
          '31.01.2019'
        )

        +block(
          'img/cd-icon-movie.svg',
          'SSR on board!',
          'We have enabled first Server Side Rendering of our Vue.js app so SEO purposes!',
          '30.01.2019'
        )

        +block(
          'img/cd-icon-movie.svg',
          'Bigger than us think the same',
          'Michał Bednarek writes on Twitter about Filmweb for football quotes in Polish as "Ale by siadł taki filmweb dla meczów". This gives us some wings :)',
          '22.01.2019'
        )

        +block(
          'img/cd-icon-movie.svg',
          'Twitter flies',
          'User Skauci_UK shares elevenrate.com which gives us a quite nice jump from 12 to 40 followers. We also get a lot of nice comments from first users.',
          '22.01.2019'
        )

        +block(
          'img/cd-icon-movie.svg',
          'Facebook login',
          'Enabled option to login using Facebook button',
          '19.01.2019'
        )

        +block(
          'img/cd-icon-movie.svg',
          'Register, please',
          'First registration enabled on elevenrate.com',
          '14.01.2019'
        )

        +block(
          'img/cd-icon-movie.svg',
          'Players page',
          'We have started first Player Pages with their ratings',
          '06.01.2019'
        )

        +block(
          'img/cd-icon-movie.svg',
          'Things to leave behind',
          'We have decided to abandon productmemo.com and move all forces to elevenrate.com',
          '02.01.2019'
        )

        +block(
          'img/cd-icon-movie.svg',
          'First statistics',
          'In December we had 277 Unique Users',
          '31.12.2018'
        )

        +block(
          'img/cd-icon-movie.svg',
          'Even more content?!',
          'Kamil jons our team as content guy',
          '30.12.2018'
        )

        +block(
          'img/cd-icon-movie.svg',
          'We switch the name, right now!',
          'We have rebranded topeleven.pl to elevenrate.com due to some collisions of names in search engines.',
          '20.12.2018'
        )

        +block(
          'img/cd-icon-movie.svg',
          'Will it work?',
          'First shares of topeleven.pl within closed group of friends',
          '10.12.2018'
        )

        +block(
          'img/cd-icon-movie.svg',
          'Are we sure about the name?',
          'elevenrate.com and elevenrates.com domains are bought',
          '09.12.2018'
        )

        +block(
          'img/cd-icon-movie.svg',
          'Any source management maybe?',
          'We have moved topeleven to your small cloud, added repo to private Gitlab and configured first CI with production deployment!',
          '04.12.2018'
        )

        +block(
          'img/cd-icon-movie.svg',
          'Content, we need more content!',
          'Our first content guys join the project: Tomek, Dominik and Patryk',
          '04.12.2018'
        )

        +block(
          'img/cd-icon-movie.svg',
          'Idea becomes life',
          'Website topeleven.pl is online! Within just few days it has a working prototype',
          '03.12.2018'
        )

        +block(
          'img/cd-icon-movie.svg',
          'New idea is born...',
          'topeleven.pl is bought and first concepts are created by Przemek',
          '28.11.2018'
        )

        +block(
          'img/cd-icon-movie.svg',
          'Slacky!',
          'We created our Slack Team for better communication',
          '27.11.2018'
        )

        +block(
          'img/cd-icon-movie.svg',
          'The hard begining',
          'First mockups and demos of productmemo.com',
          '26.11.2018'
        )

        +block(
          'img/cd-icon-movie.svg',
          'First product idea',
          'We have started working on ProductMemo - a simple product memoizer app. We have bought our domain productmemo.com.',
          '23.11.2018'
        )

        +block(
          'img/cd-icon-movie.svg',
          'Enforce was born!',
          'Official start of EnforceRocks containing first members who were: Przemek, Mateusz, Artur, Michał',
          '23.11.2018'
        )

    script(src='js/main.js')